
@keyframes desplazamiento {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 12));
        -webkit-transform: translateX(calc(-200px * 12));
    }
}

.companiesList {
    position: relative;
    width: calc(100vw - 32px);
    max-width: calc(100vw - 32px);
    height: 12rem;
    max-width: 100%;
    overflow: hidden;
    margin-top: 16px;
    padding-top: 16px;
}

.sliderCompanies{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: opacity 0.3s ease-in-out; /* Transición suave al cambiar el testimonio */
    animation: desplazamiento 40s linear infinite;
		-webkit-animation: desplazamiento 40s linear infinite;
}

.companyItem{
    transition: transform 0.2s ease-in;
    background-color: #363f2c;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.companyItem:hover {
    transform: scale(1.05);
   
}

.companyItem a{
    width: inherit;
    height: inherit;
    text-decoration-line: none;
    color: var(--secondary-green);
}

.companyItem a:hover{
    color: var(--secondary-green);
}


.companyItem a img{
    width: 200px;
    height: 112px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.companyItem_title{
    padding: 12px 6px;
    margin: 0;
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}


@media (min-width: 1032px) {
    .companiesList {
      width: 100%;
      height: 15rem;
      max-width: 1000px;
    }

    .companyItem{
        width: 400px;
        max-width: 400px;
    }

    .companyItem a img{
        width: 287px;
        height: 157px;
    }

    .companyItem_title{
        padding: 20px 12px;
        font-weight: 600;
    }
    
    
  }
