---
import ItemExperience from "../../components/experience/ItemExperience.astro";
---

<section class="experience-container">
    <ItemExperience
        label="LATAM Marketing Manager"
        period="August 2023 - Actually"
        company="IP ArchiTechs - Denver - United States"
    />

    <ItemExperience
        label="Digital Marketing Manager"
        period="March 2022 - December 2023"
        company="DrEnvío - México"
    />

    <ItemExperience
        label="Seller and Marketing Manager"
        period="November 2022 - January 2023"
        company="INCONEXO SHOP - Barranquilla - Colombia"
    />

    <ItemExperience
        label="Digital Marketing Manager"
        period="March 2022 - January 2023"
        company="Movii Agencia - Santa Marta – Colombia"
    />

    <ItemExperience
        label="Digital Marketing Manager"
        period="May 2021 - March 2022"
        company="Web360 Agencia Digital - México"
    />
</section>

<style>
    .experience-container{
        margin-top: 28px;
    }
</style>