
<section class="social-icons">
    <a href="https://www.instagram.com/roberterh96/" target="_blank">
        <svg
            width="20"
            height="20"
            viewBox="0 0 27 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M2.47306 20.3745L0.67039 26.9985L7.29172 25.1918C9.32727 26.3787 11.6421 27.0023 13.9984 26.9985C21.3624 26.9985 27.3317 21.0291 27.3317 13.6651C27.3317 6.30112 21.3624 0.331787 13.9984 0.331787C6.63439 0.331787 0.665057 6.30112 0.665057 13.6651C0.661185 16.0224 1.28524 18.3383 2.47306 20.3745ZM8.6917 7.54245C8.84593 7.46516 9.01418 7.41981 9.18637 7.40912V7.40779C9.36521 7.39534 9.54464 7.39356 9.7237 7.40245C9.7957 7.40779 9.8677 7.41579 9.9397 7.42379C10.1517 7.44912 10.385 7.57712 10.4637 7.75579C10.861 8.65712 11.2477 9.56512 11.621 10.4771C11.7037 10.6785 11.6544 10.9385 11.497 11.1918C11.3889 11.3635 11.2718 11.5295 11.1464 11.6891C10.9957 11.8811 10.6717 12.2358 10.6717 12.2358C10.6717 12.2358 10.5397 12.3931 10.5904 12.5891C10.6242 12.6855 10.6699 12.7773 10.7264 12.8625L10.805 12.9891C11.1833 13.6091 11.6405 14.1774 12.165 14.6798C12.2081 14.7214 12.2509 14.7635 12.2938 14.8056C12.41 14.9197 12.5263 15.034 12.649 15.1411C13.2733 15.6916 13.9796 16.1414 14.7424 16.4745L14.749 16.4771C14.7818 16.4914 14.81 16.5038 14.8374 16.5159C14.9046 16.5455 14.9676 16.5732 15.085 16.6225C15.1677 16.6578 15.2528 16.6872 15.3397 16.7105C15.5233 16.7577 15.7172 16.6892 15.8304 16.5371C16.7944 15.3691 16.8837 15.2931 16.8904 15.2931V15.2958C17.026 15.1692 17.2098 15.1075 17.3944 15.1265C17.4757 15.13 17.5557 15.1486 17.6304 15.1811C18.3384 15.5038 19.4984 16.0091 19.4984 16.0091L20.2744 16.3571C20.4037 16.4198 20.5224 16.5678 20.5277 16.7105C20.5279 16.7155 20.5282 16.7207 20.5284 16.726C20.5326 16.8163 20.5392 16.9586 20.509 17.2078C20.4664 17.5531 20.3624 17.9678 20.2584 18.1851C20.185 18.3385 20.089 18.4731 19.9784 18.5878C19.829 18.7438 19.7184 18.8385 19.5384 18.9718C19.429 19.0545 19.3717 19.0918 19.3717 19.0918C19.1864 19.2091 19.0824 19.2678 18.861 19.3851C18.5179 19.5679 18.1387 19.6731 17.7504 19.6931C17.7072 19.6952 17.6642 19.6975 17.6211 19.6998C17.4166 19.7106 17.2128 19.7215 17.009 19.7105L16.2504 19.5945C14.3547 19.0958 12.6016 18.1617 11.1304 16.8665C10.879 16.6441 10.6426 16.4078 10.4048 16.1699C10.3587 16.1239 10.3126 16.0778 10.2664 16.0318C9.08103 14.8518 8.1837 13.5785 7.63837 12.3758C7.3717 11.7811 7.20103 11.1451 7.19837 10.4918C7.19385 9.68301 7.45891 8.89578 7.9517 8.25445C7.96647 8.23523 7.98108 8.21592 7.99581 8.19647C8.07814 8.08768 8.16398 7.97426 8.2997 7.84645C8.41503 7.72675 8.54706 7.62436 8.6917 7.54245Z"
                fill="#F7F7F7"></path>
        </svg>
    </a>
    <a href="https://www.instagram.com/roberterh96/" target="_blank">
        <svg
            width="20"
            height="20"
            viewBox="0 0 27 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M13.6651 0.331787C17.2878 0.331787 17.7398 0.34512 19.1611 0.411787C20.5811 0.478454 21.5478 0.701121 22.3985 1.03179C23.2785 1.37045 24.0198 1.82912 24.7611 2.56912C25.4391 3.23565 25.9637 4.04191 26.2985 4.93179C26.6278 5.78112 26.8518 6.74912 26.9185 8.16912C26.9811 9.59045 26.9985 10.0425 26.9985 13.6651C26.9985 17.2878 26.9851 17.7398 26.9185 19.1611C26.8518 20.5811 26.6278 21.5478 26.2985 22.3985C25.9647 23.2888 25.4399 24.0953 24.7611 24.7611C24.0944 25.4389 23.2882 25.9635 22.3985 26.2985C21.5491 26.6278 20.5811 26.8518 19.1611 26.9185C17.7398 26.9811 17.2878 26.9985 13.6651 26.9985C10.0425 26.9985 9.59045 26.9851 8.16912 26.9185C6.74912 26.8518 5.78245 26.6278 4.93179 26.2985C4.04155 25.9644 3.23516 25.4397 2.56912 24.7611C1.891 24.0947 1.36636 23.2884 1.03179 22.3985C0.701121 21.5491 0.478454 20.5811 0.411787 19.1611C0.34912 17.7398 0.331787 17.2878 0.331787 13.6651C0.331787 10.0425 0.34512 9.59045 0.411787 8.16912C0.478454 6.74779 0.701121 5.78245 1.03179 4.93179C1.36544 4.04136 1.89019 3.23488 2.56912 2.56912C3.23535 1.89076 4.04169 1.36609 4.93179 1.03179C5.78245 0.701121 6.74779 0.478454 8.16912 0.411787C9.59045 0.34912 10.0425 0.331787 13.6651 0.331787ZM13.6651 6.99845C11.897 6.99845 10.2013 7.70083 8.95107 8.95107C7.70083 10.2013 6.99845 11.897 6.99845 13.6651C6.99845 15.4332 7.70083 17.1289 8.95107 18.3792C10.2013 19.6294 11.897 20.3318 13.6651 20.3318C15.4332 20.3318 17.1289 19.6294 18.3792 18.3792C19.6294 17.1289 20.3318 15.4332 20.3318 13.6651C20.3318 11.897 19.6294 10.2013 18.3792 8.95107C17.1289 7.70083 15.4332 6.99845 13.6651 6.99845V6.99845ZM22.3318 6.66512C22.3318 6.22309 22.1562 5.79917 21.8436 5.48661C21.5311 5.17405 21.1071 4.99845 20.6651 4.99845C20.2231 4.99845 19.7992 5.17405 19.4866 5.48661C19.174 5.79917 18.9985 6.22309 18.9985 6.66512C18.9985 7.10715 19.174 7.53107 19.4866 7.84363C19.7992 8.15619 20.2231 8.33179 20.6651 8.33179C21.1071 8.33179 21.5311 8.15619 21.8436 7.84363C22.1562 7.53107 22.3318 7.10715 22.3318 6.66512ZM13.6651 9.66512C14.726 9.66512 15.7434 10.0865 16.4935 10.8367C17.2437 11.5868 17.6651 12.6043 17.6651 13.6651C17.6651 14.726 17.2437 15.7434 16.4935 16.4935C15.7434 17.2437 14.726 17.6651 13.6651 17.6651C12.6043 17.6651 11.5868 17.2437 10.8367 16.4935C10.0865 15.7434 9.66512 14.726 9.66512 13.6651C9.66512 12.6043 10.0865 11.5868 10.8367 10.8367C11.5868 10.0865 12.6043 9.66512 13.6651 9.66512V9.66512Z"
                fill="#F7F7F7"></path>
        </svg>
    </a>
    <a href="https://www.instagram.com/roberterh96/" target="_blank">
        <svg
            width="20"
            height="20"
            viewBox="0 0 27 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M13.3316 26.9985C5.96762 26.9985 -0.00170898 21.0291 -0.00170898 13.6651C-0.00170898 6.30112 5.96762 0.331787 13.3316 0.331787C20.6956 0.331787 26.665 6.30112 26.665 13.6651C26.665 21.0291 20.6956 26.9985 13.3316 26.9985ZM9.18496 15.2251L9.20229 15.2158L10.3623 19.0425C10.5116 19.4571 10.717 19.5318 10.9663 19.4971C11.217 19.4638 11.349 19.3291 11.513 19.1718L13.097 17.6411L16.497 20.1585C17.1183 20.5011 17.565 20.3238 17.7196 19.5825L19.929 9.15312C20.173 8.18245 19.7463 7.79312 18.993 8.10245L6.01562 13.1158C5.13029 13.4705 5.13562 13.9665 5.85562 14.1865L9.18496 15.2265V15.2251Z"
                fill="#F7F7F7"></path>
        </svg>
    </a>
    <a href="https://www.instagram.com/roberterh96/" target="_blank">
        <svg
            width="20"
            height="20"
            viewBox="0 0 28 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M25.107 0.330078C26.3375 0.330078 27.335 1.3269 27.335 2.55807V24.7721C27.335 26.0026 26.3382 27.0001 25.107 27.0001H2.89304C1.66255 27.0001 0.665039 26.0033 0.665039 24.7721V2.55807C0.665039 1.32759 1.66186 0.330078 2.89304 0.330078H25.107ZM18.6923 10.3313C16.7995 10.3313 15.5044 11.1679 14.9278 12.1399L14.8335 12.3127V10.498H11.2219V23.2774H15.1113V17.0872C15.1113 15.0125 15.8753 13.6929 17.7116 13.6929C18.9781 13.6929 19.5095 14.8128 19.5533 16.8095L19.5563 17.0872V23.2774H23.4457V16.2193C23.4457 12.4083 22.5339 10.3313 18.6923 10.3313ZM8.44382 10.3313H4.55444V23.1107H8.44382V10.3313ZM6.49909 3.66385C5.11836 3.66385 3.99878 4.78344 3.99878 6.16416C3.99878 7.54489 5.11836 8.66448 6.49909 8.66448C7.87982 8.66448 8.9994 7.54489 8.9994 6.16416C8.9994 4.78344 7.87982 3.66385 6.49909 3.66385Z"
                fill="#F7F7F7"></path>
        </svg>
    </a>
</section>

<style>
    .social-icons {
        display: flex;
        justify-content: center;
        gap: 8px;
    }
</style>
