---
import Column from "../components/basics/Column.astro";
import Container from "../components/basics/Container.astro";
import CustomImg from "../components/basics/CustomImg.astro";
import Divider from "../components/basics/Divider.astro";
import MainTitle from "../components/basics/MainTitle.astro";
import Subtitle from "../components/basics/Subtitle.astro";
import Layout from "../layouts/Layout.astro";
import Text from "../components/basics/Text.astro";
import Title from "../components/basics/Title.astro";
---

<Layout>
    <man view-transition-name="page">
        <Container columns={2}>
            <Column>
                <CustomImg
                    src="/images/robert-blog-mobile.webp"
                    visible="mobile"
                    width="400"
                    height="400"
                />
                <MainTitle>Robert´s Blog</MainTitle>
                <Subtitle>Marketing and social media</Subtitle>
                <Divider />
                <Text>
                    Welcome to my blog, where I share insights, strategies, and
                    tips on digital marketing, branding, and growth. As a Chief
                    Marketing Officer with extensive experience, I’m passionate
                    about helping businesses optimize their marketing efforts to
                    drive results. Whether you’re looking to improve your SEO,
                    run effective advertising campaigns, or build a strong
                    online presence, this blog is a resource for anyone looking
                    to stay ahead in the ever-evolving marketing landscape.
                </Text>
            </Column>
            <Column verticalAlign="vertical-center">
                <CustomImg
                    src="/images/robert-blog.webp"
                    visible="desktop"
                    width="422"
                    height="281"
                    alt="robert-blog"
                />
            </Column>
        </Container>
        <Container columns={1}>
            <Title>Working on it.</Title>
            <Subtitle>Coming soon</Subtitle>
            <Divider />
        </Container>
    </man>
</Layout>
