---
import Container from "../components/basics/Container.astro";
import Layout from "../layouts/Layout.astro";
import Column from "../components/basics/Column.astro";
import Title from "../components/basics/Title.astro";
import MainTitle from "../components/basics/MainTitle.astro";
import Divider from "../components/basics/Divider.astro";
import Subtitle from "../components/basics/Subtitle.astro";
import Text from "../components/basics/Text.astro";
import CustomImg from "../components/basics/CustomImg.astro";
import CustomButton from "../components/basics/CustomButton.astro";
import ToolboxList from "../views/toolbox/ToolboxList.astro";
import Experience from "../views/experience/Experience.astro";
import SkillList from "../views/skills/SkillList.astro";
import LetsWorkTogether from "../views/contact/LetsWorkTogether.astro";
import Testimonials from "../views/testimonials/Testimonials.astro";
import TrustedCompanies from "../views/companies/TrustedCompanies.astro";
import AboutMeStats from "../views/aboutMe/AboutMeStats.astro";

---

<Layout>
	<Container columns={2}>
		<Column>
			<CustomImg
				src="/images/robert-banner-mobile.webp"
				visible="mobile"
				width="100%"
			/>
			<MainTitle>Robert Riera</MainTitle>
			<Subtitle>Chief Marketing officer</Subtitle>
			<Divider />
			<Text>
				Specialist in Digital Marketing and Growth Strategies. I am
				known for turning strangers into potential clients through
				digital marketing strategies, SEO, and social media advertising.
				My approach is based on focus, discipline, and ambition,
				creating solutions that generate real and measurable results.
			</Text>
			<CustomButton
				link="https://drive.google.com/file/d/17El16Mav3nYsw0XJYdF0NSyz4EHrU4K3/view"
				type="CV"
			>
				Download my CV
			</CustomButton>
		</Column>
		<Column>
			<CustomImg
				src="/images/robert-banner.webp"
				visible="desktop"
				width="469"
				height="432"
				alt="Robert-in-presentation-banner"
			/>
		</Column>
	</Container>

	<Container columns={2} id="about-me">
		<Column >
			<CustomImg
				src="/images/robert-in-computer-mobile.webp"
				visible="mobile"
				width="100%"
			/>
			<Title>About me</Title>
			<Subtitle>Why am I the missing gear your company needs?</Subtitle>
			<Divider />
			<Text>
				I get deeply involved in every project as if it were my own. My
				commitment goes beyond just completing tasks: I aim for every
				action to have a direct impact on the growth of your business. I
				apply a strategic, creative, and results-driven approach. I give
				120% in everything I do because I know the small details make
				all the difference.
			</Text>
			<Text>
				If you’re looking for someone who transforms ideas into concrete
				results, who thinks, analyzes, and provides solutions that truly
				add value, I am the key piece your company needs to move
				forward.
			</Text>
			<Divider />
			<AboutMeStats />
		</Column>
		<Column verticalAlign="vertical-center">
			<CustomImg
				src="/images/robert-in-computer-desktop-4.webp"
				visible="desktop"
				width="469"
				height="521"
				alt="robert-working-in-a-computer"
			/>
		</Column>
	</Container>

	<Container columns={1} id="skills">
		<Column>
			<Title>My skills</Title>
			<Subtitle>My Strongest abilities</Subtitle>
			<Divider />
			<CustomImg 
				src="/images/banner-english-version.webp" 
				visible="desktop" 
				alt="My-Strongest-abilities"
				hideTransition={true} 
			/>
			<CustomImg
				src="/images/banner-english-version-mobile.webp"
				visible="mobile"
			/>
			<br />
			<SkillList />
		</Column>
		<Column id="toolbox">
			<Subtitle>My marketing toolbox </Subtitle>
			<Divider />
			<ToolboxList />
		</Column>
		<Column align="center">
			<CustomButton link="/certifications" type="regular" inside={true}>
				See my certifications
			</CustomButton>
		</Column>
	</Container>

	<Container columns={1} id="experience">
		<Column>
			<Title>My work experience</Title>
			<Subtitle>The last companies i’ve worked</Subtitle>
			<Divider />
			<Experience />
		</Column>
		<Column align="center">
			<CustomButton
				link="https://drive.google.com/file/d/17El16Mav3nYsw0XJYdF0NSyz4EHrU4K3/view"
				type="CV"
				>Download Curriculum
			</CustomButton>
		</Column>
	</Container>

	<Testimonials />
	<TrustedCompanies />
	<LetsWorkTogether />
</Layout>
