---
import Toolbox from "../../components/toolbox/Toolbox.astro";

---

<div class="toolbox-list">
    <Toolbox percentage="95%" type="google_ads">Google ads</Toolbox>
    <Toolbox percentage="95%" type="facebook_ads">Facebook ads</Toolbox>
    <Toolbox percentage="95%" type="tiktok_ads">Tiktok ads</Toolbox>
    <Toolbox percentage="95%" type="instagram_ads">Instagram ads</Toolbox>
    <Toolbox percentage="95%" type="canva">Canva</Toolbox>
    <Toolbox percentage="95%" type="chat_gpt">Chat GPT</Toolbox>
    <Toolbox percentage="95%" type="metricool">Metricool</Toolbox>
    <Toolbox percentage="95%" type="capcut">Capcut</Toolbox>
    <Toolbox percentage="95%" type="google_workspace">Google workspace</Toolbox>
    <Toolbox percentage="95%" type="SEO">SEO</Toolbox>
    <Toolbox percentage="90%" type="google_analytics">Google Analytics</Toolbox>
    <Toolbox percentage="95%" type="clickup">Clickup</Toolbox>
    <Toolbox percentage="95%" type="mailchimp">Mailchimp</Toolbox>
    <Toolbox percentage="95%" type="manychat">Manychat</Toolbox>
    <Toolbox percentage="95%" type="metabusiness">meta business</Toolbox>
    <Toolbox percentage="90%" type="zapier">Zapier</Toolbox>
    <Toolbox percentage="95%" type="google_trends">Google trends</Toolbox>
    <Toolbox percentage="95%" type="office_365">Office 365</Toolbox>
    <Toolbox percentage="95%" type="loom">Loom</Toolbox>
    <Toolbox percentage="B1" type="english">English</Toolbox>
</div>

<style>
    .toolbox-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 12px;
        margin-top: 16px;
        margin-bottom: 24px;;
    }

    @media (min-width: 768px) {
    .toolbox-list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 36px;
         margin-top: 8px;
    }
  }


</style>