---
import Toolbox from "../../components/toolbox/Toolbox.astro";
import { toolboxList } from "../../data/toolbox";

---
<div class="toolbox-list">
    {toolboxList.map((tool) => (
      <Toolbox
        key={tool.type}
        percentage={tool.percentage}
        type={tool.type}
      >
        {tool.name}
      </Toolbox>
    ))}
  </div>

<style>
    .toolbox-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 12px;
        margin-top: 16px;
        margin-bottom: 24px;;
    }

    @media (min-width: 768px) {
    .toolbox-list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 36px;
         margin-top: 8px;
    }
  }


</style>