---
import { base_url } from "../../../utils/global";
---

<div class="logo">
    <a href={`${base_url}/`}>
        <img src={`${base_url}/images/logov2.webp`} width="200" alt="Robert riera" />
    </a>
</div>

<style>
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-style: italic;
        font-size: 26px;
        letter-spacing: 0.5px;
        margin: 0;
        padding: 0;
        margin-top: 8px;
    }

    .logo a {
        margin: 0;
        color: var(--primary-white);
        text-decoration: none;
    }

</style>