
<div class="logo">
    <p>Robert Riera.</p>
</div>

<style>
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-style: italic;
        font-size: 26px;
        letter-spacing: 0.5px;
        margin: 0;
        padding: 0;
    }

    .logo p {
        margin: 0;
    }

</style>