
<div class="column">
  <slot/>
</div>

<style>
  .column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
    width: 100%; /* Por defecto ocupa el 100% */
  }
</style>