---
interface props {
  align?: string;
  verticalAlign?: string;
  id?: string;
}

const { align, id, verticalAlign } = Astro.props;
---

<div id={id} class={`column ${align} ${verticalAlign}`}>
  <slot />
</div>

<style>
  .column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  .center{
    align-items: center;
  }

  .flex-start{
    align-items: flex-start;
  }

  .flex-end{
    align-items: flex-end;
  }

  .vertical-center{
    justify-content: center;
  }
</style>
