<div class="divider"></div>

<style>
    .divider {
        width: 100%;
        height: 0.2px; /* Grosor de la línea */
        background-color: var(--secondary-green);
        margin: 16px 0; /* Espaciado arriba y abajo */

    }
</style>