<div class="divider"></div>

<style>
    .divider {
        width: 95%;
        height: 1px; /* Grosor de la línea */
        background-color: var(--secondary-green);
        margin: 16px 0; /* Espaciado arriba y abajo */

    }
</style>