
<h2 class="subtitle">
    <slot />
</h2>

<style>
    .subtitle {
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        font-size: 20px;
        margin: 10px 0;
        color: var(--primary-white);
    }
    @media (min-width: 767px) {
        .subtitle {
            font-size: 24px;
        }
    }
</style>