
<h2 class="subtitle">
    <slot />
</h2>

<style>
    .subtitle {
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        font-style: italic;
        font-size: 24px;
        color: var(--primary-white);
    }
</style>