
<h2 class="subtitle animate-fade-in">
    <slot />
</h2>

<style>
    .subtitle {
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        font-size: 20px;
        margin: 10px 0;
        color: var(--primary-white);
    }
    @media (min-width: 767px) {
        .subtitle {
            font-size: 24px;
        }
    }

    @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px); /* Ahora baja en lugar de subir */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out;
}
</style>