<p class="text animate-fade-in">
    <slot />
</p>

<style>
    .text {
        font-family: "Rubik", sans-serif;
        font-weight: 300;
        font-size: 16px;
        margin: 10px 0;
        color: var(--primary-white);
    }

    @media (min-width: 767px) {
        .text {
            font-size: 16px;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(-30px); /* Ahora baja en lugar de subir */
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .animate-fade-in {
            animation: fadeIn 0.3s ease-out;
        }
    }
</style>
