<p class="text animate-fade-in">
    <slot />
</p>

<style>
    .text {
        font-family: "Rubik", sans-serif;
        font-weight: 300;
        font-size: 16px;
        margin: 10px 0;
        color: var(--primary-white);
    }

    @media (min-width: 767px) {
        .text {
            font-size: 16px;
        }

        .animate-fade-in {
            animation: appear 0.3s ease-out;
        }

        @keyframes appear {
            from {
                filter: blur(4px);
            }
            to {
                filter: blur(0);
            }
        }
    }
</style>
