
<p class="text">
    <slot />
</p>

<style>
    .text {
        font-family: 'Rubik', sans-serif;
        font-weight: 300;
        font-size: 16px;
        margin: 10px 0;
        color: var(--primary-white);
    }

    @media (min-width: 767px) {
    .text {
        font-size: 16px;
    }
  }
</style>