<h1 class="title typewriter">
    <slot />
</h1>

<style>
    .title {
        font-family: "Rubik", sans-serif;
        font-weight: 900;
        font-style: italic;
        font-size: 36px;
        margin: 10px 0;
        letter-spacing: 2px;
        color: var(--primary-white);
    }


  @media (min-width: 767px) {
    .title {
        font-size: 46px;
    }
  }
</style>
