<h1 class="title animate-fade-in">
    <slot />
</h1>

<style>
    .title {
        font-family: "Rubik", sans-serif;
        font-weight: 900;
        font-style: italic;
        font-size: 36px;
        margin: 10px 0;
        letter-spacing: 2px;
        color: var(--primary-white);
    }


  @media (min-width: 767px) {
    .title {
        font-size: 46px;
    }
  }

  @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px); /* Ahora baja en lugar de subir */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out;
}
</style>
