
.testimonialCard {
    color: var(--primary-white);
    height: 20rem;
    min-width: 90vw;
    max-width: 90vw;
    padding: 16px 12px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius: 12px;
    background-color: #363f2c;
  }
  
  .testimonialCard:hover {
    cursor: pointer;
    transform: scale(1.03);
  }

.testimonialCard .UserInfo{
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-template-rows: 1fr;

}

.profileData{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 4px;
}

.profileData h3{
    margin: 0;
     margin-left: 8px;
}

.dividerTestimonial{
    width: 95%;
    height: 1px; /* Grosor de la línea */
    background-color: var(--secondary-green);
    margin: 16px 0;
}

.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {

    .testimonialCard{
        height: 14rem;
        min-width: 600px;
        margin-right: 24px;
    }
  }
