---
import Column from "../../components/basics/Column.astro";
import Container from "../../components/basics/Container.astro";
import Divider from "../../components/basics/Divider.astro";
import Subtitle from "../../components/basics/Subtitle.astro";
import Title from "../../components/basics/Title.astro";
import TestimonialList from "./TestimonialList";
---

<Container columns={1} id='testimonials'>
    <Column>
        <Title>Testimonials</Title>
        <Subtitle>Reviews of my partners</Subtitle>
        <Divider />
        <TestimonialList client:load />
    </Column>
</Container>