---
import Column from "../../components/basics/Column.astro";
import Container from "../../components/basics/Container.astro";
import CustomButton from "../../components/basics/CustomButton.astro";
import CustomImg from "../../components/basics/CustomImg.astro";
import Divider from "../../components/basics/Divider.astro";
import MainTitle from "../../components/basics/MainTitle.astro";
import Subtitle from "../../components/basics/Subtitle.astro";
import Layout from "../../layouts/Layout.astro";
import Text from "../../components/basics/Text.astro";
import Title from "../../components/basics/Title.astro";
import ItemExperience from "../../components/experience/ItemExperience.astro";
import LetsWorkTogether from "../../views/contact/LetsWorkTogether.astro";
import TrustedCompanies from "../../views/companies/TrustedCompanies.astro";
import CountryCompany from "../../views/companies/CountryCompany.astro";
import { workExperience } from "../../data/experience";
import WorkExperienceImgDesktop from "../../components/experience/WorkExperienceImgDesktop.astro";
import WorkExperienceImgMobile from "../../components/experience/WorkExperienceImgMobile.astro";
---

<Layout>
    <man view-transition-name="page">
        <Container columns={2}>
            <Column>
                <CountryCompany
                    label="Monterrey, México"
                    country="MX"
                    visible="mobile"
                />
                <CustomImg
                    src="/images/companies/mobile/drenvio-mobile.webp"
                    visible="mobile"
                    width="100%"
                />
                <MainTitle>Drenvio</MainTitle>
                <Subtitle
                    >Logistics and national/international shipping company.</Subtitle
                >
                <Divider />
                <Text>
                    We are a logistics and shipping company focused on national
                    and international deliveries. Our main marketing challenge
                    is increasing visibility in a competitive market. We need to
                    improve brand awareness, strengthen our digital presence,
                    and better communicate our value to reach new customers,
                    especially in international regions.
                </Text>
                <CustomButton link="https://drenvio.com" type="regular">
                    Website
                </CustomButton>
            </Column>
            <Column verticalAlign="vertical-center">
                <CountryCompany
                    label="Monterrey, México"
                    country="MX"
                    visible="desktop"
                />
                <CustomImg
                    src="/images/companies/drenvio-desktop.webp"
                    visible="desktop"
                    width="90%"
                />
            </Column>
        </Container>
        <Container columns={1} id="experience">
            <Column>
                <Title>My work experience</Title>
                <Subtitle>My experience in Drenvio company</Subtitle>
                <Divider />
                <br />
                <br />
                {
                    workExperience
                        ?.filter((item: any) => item.link.includes("drenvio"))
                        .map((item: any) => (
                            <ItemExperience
                                label={item.label}
                                period={item.period}
                                company={item.company}
                            />
                        ))
                }
            </Column>
            <Column align="center">
                <CustomButton
                    link="https://drive.google.com/file/d/17El16Mav3nYsw0XJYdF0NSyz4EHrU4K3/view"
                    type="CV"
                    >Download Curriculum
                </CustomButton>
            </Column>
        </Container>
        <Container columns={2}>
            <Column>
                <Title>My work details</Title>
                <Subtitle>Achievements during my time at Drenvio</Subtitle>
                <Divider />
                <WorkExperienceImgMobile />
                <Text>
                    I led digital marketing strategies that drove traffic and
                    customer acquisition, optimized conversion funnels, and
                    executed high-performing multichannel campaigns
                </Text>
                <Text>
                    I also leveraged data analytics to continuously refine
                    campaign performance, identify growth opportunities, and
                    improve ROI. My approach combined creativity with a
                    data-driven mindset to deliver measurable results across
                    various digital platforms.
                </Text>
            </Column>
            <Column>
                <WorkExperienceImgDesktop />
            </Column>
        </Container>
        <TrustedCompanies exclude="Drenvio" />
        <LetsWorkTogether />
    </man>
</Layout>
