---
import Column from "../../components/basics/Column.astro";
import Container from "../../components/basics/Container.astro";
import CustomButton from "../../components/basics/CustomButton.astro";
import CustomImg from "../../components/basics/CustomImg.astro";
import Divider from "../../components/basics/Divider.astro";
import MainTitle from "../../components/basics/MainTitle.astro";
import Subtitle from "../../components/basics/Subtitle.astro";
import Layout from "../../layouts/Layout.astro";
import Text from "../../components/basics/Text.astro";
import Title from "../../components/basics/Title.astro";
import ItemExperience from "../../components/experience/ItemExperience.astro";
import LetsWorkTogether from "../../views/contact/LetsWorkTogether.astro";
import TrustedCompanies from "../../views/companies/TrustedCompanies.astro";
import CountryCompany from "../../views/companies/CountryCompany.astro";
import { workExperience } from "../../data/experience";
---

<Layout>
    <man view-transition-name="page">
        <Container columns={2}>
            <Column>
                <CountryCompany
                    label="United States"
                    country="US"
                    visible="mobile"
                />
                <CustomImg
                    src="/images/companies/mobile/ip-architechs-mobile.png"
                    visible="mobile"
                    width="100%"
                />
                <MainTitle>IP Architechs</MainTitle>
                <Subtitle
                    >Network consulting firm for ISPs and Data Centers.</Subtitle
                >
                <Divider />
                <Text>
                    P Architechs is a specialized network consulting firm that
                    provides high-level engineering solutions for Internet
                    Service Providers and Data Centers. With a focus on
                    scalability, performance, and security, the company helps
                    clients design, optimize, and troubleshoot complex network
                    infrastructures, delivering tailored solutions that meet
                    both technical and business objectives.
                </Text>
                <CustomButton link="http://iparchitechs.com/" type="regular">
                    Website
                </CustomButton>
            </Column>
            <Column verticalAlign="vertical-center">
                <CountryCompany
                    label="United States"
                    country="US"
                    visible="desktop"
                />
                <CustomImg
                    src="/images/companies/ip-architechs-desktop.png"
                    visible="desktop"
                    width="90%"
                />
            </Column>
        </Container>
        <Container columns={1} id="experience">
            <Column>
                <Title>My work experience</Title>
                <Subtitle>My experience in IP Architechs</Subtitle>
                <Divider />
                <br />
                <br />
                {
                    workExperience
                        ?.filter((item: any) =>
                            item.link.includes("ip-architechs"),
                        )
                        .map((item: any) => (
                            <ItemExperience
                                label={item.label}
                                period={item.period}
                                company={item.company}
                            />
                        ))
                }
            </Column>
            <Column align="center">
                <CustomButton
                    link="https://drive.google.com/file/d/17El16Mav3nYsw0XJYdF0NSyz4EHrU4K3/view"
                    type="CV"
                    >Download Curriculum
                </CustomButton>
            </Column>
        </Container>
        <Container columns={2}>
            <Column>
                <Title>My work details</Title>
                <Subtitle>Achievements during my time at IP Architechs</Subtitle
                >
                <Divider />
                <CustomImg
                    src="/images/my-work-experience-mobile.png"
                    visible="mobile"
                    width="100%"
                />
                <Text>
                    I currently serve as the Chief Marketing Officer,
                    responsible for scaling results through SEO, automation,
                    digital advertising, and strong multichannel brand presence.
                </Text>
                <Text>
                    I lead a cross-functional team to execute data-driven
                    marketing strategies, aligning business goals with
                    measurable performance outcomes. My role also involves
                    constant experimentation, optimizing customer journeys, and
                    identifying growth opportunities across both local and
                    international markets.
                </Text>
            </Column>
            <Column>
                <CustomImg
                    src="/images/work-experience-desktop.png"
                    visible="desktop"
                    width="80%"
                />
            </Column>
        </Container>
        <TrustedCompanies exclude="IP Architechs" />
        <LetsWorkTogether />
    </man>
</Layout>
