---
import Column from "../../components/basics/Column.astro";
import Container from "../../components/basics/Container.astro";
import CustomButton from "../../components/basics/CustomButton.astro";
import CustomImg from "../../components/basics/CustomImg.astro";
import Divider from "../../components/basics/Divider.astro";
import MainTitle from "../../components/basics/MainTitle.astro";
import Subtitle from "../../components/basics/Subtitle.astro";
import Layout from "../../layouts/Layout.astro";
import Text from "../../components/basics/Text.astro";
import Title from "../../components/basics/Title.astro";
import ItemExperience from "../../components/experience/ItemExperience.astro";
import LetsWorkTogether from "../../views/contact/LetsWorkTogether.astro";
import TrustedCompanies from "../../views/companies/TrustedCompanies.astro";
import CountryCompany from "../../views/companies/CountryCompany.astro";
import { workExperience } from "../../data/experience";
---

<Layout>
    <man view-transition-name="page">
        <Container columns={2}>
            <Column>
                <CountryCompany label="Colombia" country="CO" visible="mobile" />
                <CustomImg
                    src="/images/companies/mobile/movii-agencia-mobile.png"
                    visible="mobile"
                    width="100%"
                />
                <MainTitle>Movii Agencia</MainTitle>
                <Subtitle
                    >Tourism agency focused on hotel bookings across the coast.</Subtitle
                >
                <Divider />
                <Text>
                    Movii Agencia offers personalized travel planning and hotel
                    booking services, specializing in coastal destinations. With
                    a focus on customer satisfaction and local partnerships, the
                    agency ensures seamless vacation experiences by combining
                    curated accommodations with expert knowledge of the region.
                </Text>
            </Column>
            <Column verticalAlign="vertical-center">
                <CountryCompany label="Colombia" country="CO" visible="desktop" />
                <CustomImg
                    src="/images/companies/movii-agencia-desktop.png"
                    visible="desktop"
                    width="90%"
                />
            </Column>
        </Container>
        <Container columns={1} id="experience">
            <Column>
                <Title>My work experience</Title>
                <Subtitle>My experience in Movii Agencia</Subtitle>
                <Divider />
                <br />
                <br />
                {
                    workExperience
                        ?.filter((item: any) =>
                            item.link.includes("movii"),
                        )
                        .map((item: any) => (
                            <ItemExperience
                                label={item.label}
                                period={item.period}
                                company={item.company}
                            />
                        ))
                }
            </Column>
            <Column align="center">
                <CustomButton
                    link="http://robertriera.com/wp-content/uploads/2025/04/Robert-Riera-CV-English-Version.pdf"
                    type="CV"
                    >Download Curriculum
                </CustomButton>
            </Column>
        </Container>
        <Container columns={2}>
            <Column>
                <Title>My work details</Title>
                <Subtitle>Achievements during my time at Movii Agencia</Subtitle>
                <Divider />
                <CustomImg
                    src="/images/my-work-experience-mobile.png"
                    visible="mobile"
                    width="100%"
                />
                <Text>
                    I developed and launched advertising campaigns that
                    generated additional revenue, while also building strategic
                    partnerships with local hotel owners.
                </Text>
                <Text>
                    I also created targeted content and optimized landing pages
                    to improve lead generation and booking conversion rates. My
                    approach combined performance marketing with
                    relationship-building to strengthen the agency’s presence in
                    key tourist regions.
                </Text>
            </Column>
            <Column>
                <CustomImg
                    src="/images/work-experience-desktop.png"
                    visible="desktop"
                    width="80%"
                />
            </Column>
        </Container>
        <TrustedCompanies exclude="Movii Agencia" />
        <LetsWorkTogether />
    </man>
</Layout>
