---
import CompanyCountry from "./CountryCard/CompanyCountry";

interface props {
    country: "CO" | "MX" | "US";
    label: string;
    visible: "mobile" | "desktop";
}
const { country, label, visible } = Astro.props;
---

<section
    class={`country-company-card animate-fade-in ${visible === "mobile" ? "mobile-visible" : "desktop-visible"}`}
>
    <CompanyCountry client:load country={country} />
    <div class="country-company-text-container">
        <p>{label}</p>
    </div>
</section>

<style>
    .country-company-card {
        display: flex;
        align-items: center;
        padding: 8px;
        margin-bottom: 1rem;
        width: 200px;
        background-color: var(--secondary-green);
        border-top: 1px solid var(--primary-dark);
        border-radius: 4px;
    }
    .country-company-text-container {
        display: inline-flex;
        color: var(--primary-dark);
        margin: 0;
        padding: 0;
    }
    .country-company-text-container p {
        margin: 0;
        padding: 0;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-30px); /* Ahora baja en lugar de subir */
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-fade-in {
        animation: fadeIn 0.8s ease-out;
    }

    @media (min-width: 768px) {
        .mobile-visible {
            display: none;
        }
    }

    @media (max-width: 767px) {
        .desktop-visible {
            display: none;
        }
    }
</style>
