---
import CustomButton from "../../components/basics/CustomButton.astro";
---

<div class="company-cards">
    <article>
        <img
            src="/images/companies/drenvio-company-mobile.png"
            alt="Drenvio"
            width="287"
            height="157"
        />
        <h3 class="company-card-item-text">Drenvio</h3>
        <CustomButton link="/companies/drenvio" type="regular">
            More information
        </CustomButton>
    </article>
    <article>
        <img
            src="/images/companies/inconexoshop.png"
            alt="Inconexo Shop"
            width="287"
            height="157"
        />
        <h3 class="company-card-item-text">Inconexo shop</h3>
        <CustomButton link="/companies/inconexoshop" type="regular">
            More information
        </CustomButton>
    </article>
    <article>
        <img
            src="/images/companies/iparchitects.png"
            alt="IP Architects"
            width="287"
            height="157"
        />
        <h3 class="company-card-item-text">IP Architects</h3>
        <CustomButton link="/companies/iparchitects" type="regular">
            More information
        </CustomButton>
    </article>
    <article>
        <img
            src="/images/companies/goairheads.png"
            alt="GoAirHeads"
            width="287"
            height="157"
        />
        <h3 class="company-card-item-text">Goairheads</h3>
        <CustomButton link="/companies/goairheads" type="regular">
            More information
        </CustomButton>
    </article>
</div>

<style>
    .company-cards {
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        max-width: calc(100vw - 36px);
        overflow-x: scroll;
        margin-top: 1rem;
    }
    .company-card-item-text {
        font-size: 20px;
        color: var(--primary-white);
    }

    @media (min-width: 768px) {
        .company-cards {
            max-width: 1000px;
            overflow-x: scroll;
        }
    }
</style>
