---
import Column from '../../components/basics/Column.astro'
import Container from '../../components/basics/Container.astro'
import Divider from '../../components/basics/Divider.astro'
import Subtitle from '../../components/basics/Subtitle.astro'
import Title from '../../components/basics/Title.astro'
---

<Container columns={1}>
    <Column>
        <Title>Trusted by leading companies</Title>
        <Subtitle>Proud to have worked with them</Subtitle>
        <Divider />
    </Column>
</Container>
