---
import ItemSkill from "../../components/skills/ItemSkill.astro";
import { skills } from "../../data/skills";
---

<div class="skill-list">
    {skills.map((skill) => (
      <ItemSkill key={skill.type} label={skill.label} type={skill.type}>
        {skill.description}
      </ItemSkill>
    ))}
  </div>

<style>
    @media (min-width: 767px) {
        .skill-list{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 2rem;
        }
    }
</style>