---
import "@fontsource/rubik";
import Logo from "../components/header/Logo.astro";
import Socialicons from "../components/header/social-icons/Socialicons.astro";
import MenuLink from "../components/header/DesktopMenu/MenuLink";
import CountryOption from "../components/header/countryOption/ContryOption";
---

<header class="header">
    <nav class="header-nav">
        <Logo />
        <ul class="header-menu">
            <MenuLink client:load path="/" label="Home" />
            <MenuLink client:load path="/#experience" label="Experience" />
            <MenuLink client:load path="/#skills" label="Skills" />
            <MenuLink client:load path="/#contact" label="Contact" />
            <Socialicons />
            <CountryOption client:load isDesktop={true} />
        </ul>
    </nav>
</header>

<style>
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--max-width);
        height: 4.5rem;
        color: var(--primary-white);
        z-index: 100;
        border-bottom: 0.2px solid var(--secondary-green);
    }

    .header-nav {
        display: grid;
        grid-template-columns: 15rem 1fr;
        grid-template-rows: 1fr;
        width: 1050px;
        height: 4.5rem;
        color: var(--primary-white);
        z-index: 100;
    }

    .header-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        padding-right: 16px;
        list-style: none;
    }

    /* Estilos para los enlaces */
    .menu-link {
        text-decoration: none;
        color: var(--primary-white);
        font-weight: 400;
        font-size: 16px;
        padding: 4px 4px;
        position: relative;
        transition: color 0.3s ease-in-out;
    }

    /* Hover con subrayado animado */
    .menu-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background-color: var(--secondary-green);
        transform: scaleX(0);
        transition: transform 0.1s ease-in-out;
    }

    .menu-link:hover {
        color: var(--secondary-green);
    }

    .menu-link:hover::after {
        transform: scaleX(1);
    }

    /* Cuando un enlace está activo */
    .menu-link.active {
        border-bottom: 1px solid var(--secondary-green);
        color: var(--secondary-green);
    }

    @media (max-width: 767px) {
        .header {
            display: none;
        }
    }
</style>